.el-loading-mask {
  z-index: 2071 !important;
}

.list-action {
  text-align: right;
  margin-top: 10px;
}

.list-datas {
  margin-top: 10px;
}

.el-input-number.number {
  width: 300px;
}

.el-message {
  z-index: 9999 !important;
}

.is-message-box {
  z-index: 9999 !important;
}